<section class="advantages">
	
    <div class="container">

    	<h2 class="section__title wow animated fadeInLeft">Почему стоит выбрать именно нас</h2>
    	
        <div class="advantages-wrap">
        	
            <ul class="advantages-list">
            	<li class="advantages__item wow animated fadeInUp delay-0.5s">Опытный персонал</li>
            	<li class="advantages__item wow animated fadeInUp delay-0.5s">Работаем по договору</li>
            	<li class="advantages__item wow animated fadeInDown delay-0.5s">Высокое качество услуг</li>
            	<li class="advantages__item wow animated fadeInDown delay-1s">Качественные полотна</li>
            	<li class="advantages__item wow animated fadeInUp delay-1s">Честные цены</li>
            	<li class="advantages__item wow animated fadeInUp delay-1s">Долговечный результат</li>
            </ul>

        </div>

    </div>

</section>
<!-- /advantages -->