<div class="container">
	
    <section class="ceiling-price">

    	<h2 class="section__title wow animated fadeInDown">Стоимость нового потолка</h2>
    	
        <div class="gallery-wrap">

        	<ul class="gallery-list">

        		<li class="gallery__item wow animated fadeIn">

                    <div class="img-wrap">

                        <picture>

                    	    <source srcset="img/ceiling-price/ceiling-type@1x.webp 1x,
						    img/ceiling-price/ceiling-type@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/ceiling-price/ceiling-type@1x.jpg" width="360" height="280" alt="Матовые, глянцевые и сатиновые потолки"
				            srcset="img/ceiling-price/ceiling-type@2x.jpg 2x">
                    	
                        </picture>

                    </div>
                    <!-- /img-wrap -->

        			<h4 class="gallery__item-title">Матовые, глянцевые и сатиновые потолки</h4>
        			<p class="gallery__item-price">от 299 руб. м<sup>2</sup></p>

        		</li>
                <!-- /gallery__item -->

                <li class="gallery__item wow animated fadeIn">

                    <div class="img-wrap">

                        <picture>

                    	    <source srcset="img/ceiling-price/ceiling-color@1x.webp 1x,
						    img/ceiling-price/ceiling-color@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/ceiling-price/ceiling-color@1x.jpg" width="360" height="280" alt="Цветные потолки (матовые и глянцевые)"
				             srcset="img/ceiling-price/ceiling-color@2x.jpg 2x">
                    	
                        </picture>

                    </div>
                    <!-- /img-wrap -->

        			<h4 class="gallery__item-title">Цветные потолки (матовые и глянцевые)</h4>
        			<p class="gallery__item-price">от 299 руб. м<sup>2</sup></p>

        		</li>
                <!-- /gallery__item -->

                <li class="gallery__item wow animated fadeIn">

                    <div class="img-wrap">

                        <picture>

                    	    <source srcset="img/ceiling-price/ceiling-photo-printing@1x.webp 1x,
						    img/ceiling-price/ceiling-photo-printing@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/ceiling-price/ceiling-photo-printing@1x.jpg" width="360" height="280" alt="Фотопечать (на матовых и глянцевых потолках)"
				            srcset="img/ceiling-price/ceiling-photo-printing@2x.jpg 2x">
                    	
                        </picture>

                    </div>
                    <!-- /img-wrap -->

        			<h4 class="gallery__item-title">Фотопечать (на матовых и глянцевых потолках)</h4>
        			<p class="gallery__item-price">от 799 руб. м<sup>2</sup></p>

        		</li>
                <!-- /gallery__item -->

                 <li class="gallery__item wow animated fadeIn">

                    <div class="img-wrap">

                        <picture>

                    	    <source srcset="img/ceiling-price/ceiling-soaring@1x.webp 1x,
						    img/ceiling-price/ceiling-soaring@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/ceiling-price/ceiling-soaring@1x.jpg" width="360" height="280" alt="Парящие потолки"
				            srcset="img/ceiling-price/ceiling-soaring@2x.jpg 2x">
                    	
                        </picture>

                    </div>
                    <!-- /img-wrap -->

        			<h4 class="gallery__item-title">Парящие потолки</h4>
        			<p class="gallery__item-price">от 299 руб. м<sup>2</sup></p>

        		</li>
                <!-- /gallery__item -->

                 <li class="gallery__item wow animated fadeIn">

                    <div class="img-wrap">

                        <picture>

                    	    <source srcset="img/ceiling-price/ceiling-two-level@1x.webp 1x,
						    img/ceiling-price/ceiling-two-level@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/ceiling-price/ceiling-two-level@1x.jpg" width="360" height="280" alt="Двухуровневые конструкции потолка"
				            srcset="img/ceiling-price/ceiling-two-level@2x.jpg 2x">
                    	
                        </picture>

                    </div>
                    <!-- /img-wrap -->

        			<h4 class="gallery__item-title">Двухуровневые конструкции потолка</h4>
        			<p class="gallery__item-price">от 299 руб. м<sup>2</sup></p>

        		</li>
                <!-- /gallery__item -->

                 <li class="gallery__item wow animated fadeIn">

                    <div class="img-wrap">

                        <picture>

                    	    <source srcset="img/ceiling-price/ceiling-fabric@1x.webp 1x,
						    img/ceiling-price/ceiling-fabric@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/ceiling-price/ceiling-fabric@1x.jpg" width="360" height="280" alt="Тканевые потолки (Descor Германия)"
				            srcset="img/ceiling-price/ceiling-fabric@2x.jpg 2x">
                    	
                        </picture>

                    </div>
                    <!-- /img-wrap -->

        			<h4 class="gallery__item-title">Тканевые потолки (Descor Германия)</h4>
        			<p class="gallery__item-price">от 299 руб. м<sup>2</sup></p>

        		</li>
                <!-- /gallery__item -->

        	</ul>
        	<!-- /gallery-list -->
        </div>
        <!-- /gallery-wrap -->
    </section>
    <!-- /ceiling-price -->
</div>
<!-- /container -->