<div class="container">
	
    <section id="examples" class="examples">

    	<h2 class="section__title wow animated fadeInDown">Примеры выполненных работ</h2>
    	
        <div class="examples-wrap">
        	
            <ul class="examples-list">
            	
            	<li class="examples__item wow animated fadeInDown">

                    <div class="img-wrap">
            		
                        <picture>
                    	
                            <source srcset="img/examples/examples@1x.webp 1x,
						    img/examples/examples@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/examples/examples@1x.jpg" width="360" height="360" alt="Парящий потолок со вторым уровнем в гостинную S=22 м²"
				            srcset="img/examples/examples@2x.jpg 2x">

                        </picture>

                    </div>
                    <!-- /img-wrap -->

                    <div class="examples__item-info">

                    	<div class="examples__item-info-wrap">

                            <h4 class="examples__item-title">
                            Парящий потолок со вторым уровнем в гостинную S=22 м<sup>2</sup>
                            </h4>
                            <p class="examples__item-price">29000 руб.</p>
                            <button class="btn examples__item-btn">Заказать</button>
                        </div>
                    </div>
                    <!-- /examples__item-info -->

            	</li>
                <!-- /examples__item -->

                <li class="examples__item wow animated fadeInUp">

                    <div class="img-wrap">
            		
                        <picture>
                    	
                            <source srcset="img/examples/examples@1x.webp 1x,
						    img/examples/examples@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/examples/examples@1x.jpg" width="360" height="360" alt="Парящий потолок со вторым уровнем в гостинную S=22 м²"
				            srcset="img/examples/examples@2x.jpg 2x">

                        </picture>

                    </div>
                    <!-- /img-wrap -->

                    <div class="examples__item-info">

                    	<div class="examples__item-info-wrap">

                            <h4 class="examples__item-title">
                            Парящий потолок со вторым уровнем в гостинную S=22 м<sup>2</sup>
                            </h4>
                            <p class="examples__item-price">29000 руб.</p>
                            <button class="btn examples__item-btn">Заказать</button>
                        </div>
                    </div>
                    <!-- /examples__item-info -->

            	</li>
                <!-- /examples__item -->

                <li class="examples__item wow animated fadeInDown">

                    <div class="img-wrap">
            		
                        <picture>
                    	
                            <source srcset="img/examples/examples@1x.webp 1x,
						    img/examples/examples@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/examples/examples@1x.jpg" width="360" height="360" alt="Парящий потолок со вторым уровнем в гостинную S=22 м²"
				            srcset="img/examples/examples@2x.jpg 2x">

                        </picture>

                    </div>
                    <!-- /img-wrap -->

                    <div class="examples__item-info">

                    	<div class="examples__item-info-wrap">

                            <h4 class="examples__item-title">
                            Парящий потолок со вторым уровнем в гостинную S=22 м<sup>2</sup>
                            </h4>
                            <p class="examples__item-price">29000 руб.</p>
                            <button class="btn examples__item-btn">Заказать</button>
                        </div>
                    </div>
                    <!-- /examples__item-info -->

            	</li>
                <!-- /examples__item -->

                <li class="examples__item wow animated fadeInUp">

                    <div class="img-wrap">
            		
                        <picture>
                    	
                            <source srcset="img/examples/examples@1x.webp 1x,
						    img/examples/examples@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/examples/examples@1x.jpg" width="360" height="360" alt="Парящий потолок со вторым уровнем в гостинную S=22 м²"
				            srcset="img/examples/examples@2x.jpg 2x">

                        </picture>

                    </div>
                    <!-- /img-wrap -->

                    <div class="examples__item-info">

                    	<div class="examples__item-info-wrap">

                            <h4 class="examples__item-title">
                            Парящий потолок со вторым уровнем в гостинную S=22 м<sup>2</sup>
                            </h4>
                            <p class="examples__item-price">29000 руб.</p>
                            <button class="btn examples__item-btn">Заказать</button>
                        </div>
                    </div>
                    <!-- /examples__item-info -->

            	</li>
                <!-- /examples__item -->

                <li class="examples__item wow animated fadeInDown">

                    <div class="img-wrap">
            		
                        <picture>
                    	
                            <source srcset="img/examples/examples@1x.webp 1x,
						    img/examples/examples@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/examples/examples@1x.jpg" width="360" height="360" alt="Парящий потолок со вторым уровнем в гостинную S=22 м²"
				            srcset="img/examples/examples@2x.jpg 2x">

                        </picture>

                    </div>
                    <!-- /img-wrap -->

                    <div class="examples__item-info">

                    	<div class="examples__item-info-wrap">

                            <h4 class="examples__item-title">
                            Парящий потолок со вторым уровнем в гостинную S=22 м<sup>2</sup>
                            </h4>
                            <p class="examples__item-price">29000 руб.</p>
                            <button class="btn examples__item-btn">Заказать</button>
                        </div>
                    </div>
                    <!-- /examples__item-info -->

            	</li>
                <!-- /examples__item -->

                <li class="examples__item wow animated fadeInUp">

                    <div class="img-wrap">
            		
                        <picture>
                    	
                            <source srcset="img/examples/examples@1x.webp 1x,
						    img/examples/examples@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/examples/examples@1x.jpg" width="360" height="360" alt="Парящий потолок со вторым уровнем в гостинную S=22 м²"
				            srcset="img/examples/examples@2x.jpg 2x">

                        </picture>

                    </div>
                    <!-- /img-wrap -->

                    <div class="examples__item-info">

                    	<div class="examples__item-info-wrap">

                            <h4 class="examples__item-title">
                            Парящий потолок со вторым уровнем в гостинную S=22 м<sup>2</sup>
                            </h4>
                            <p class="examples__item-price">29000 руб.</p>
                            <button class="btn examples__item-btn">Заказать</button>
                        </div>
                    </div>
                    <!-- /examples__item-info -->

            	</li>
                <!-- /examples__item -->

            </ul>
            <!-- /examples-list -->
        </div>	
        <!-- /examples-wrap -->
    </section>
    <!-- /examples -->
</div>
<!-- /container -->