<section class="form">

	<div class="container">
		
        <h2 class="section__title wow animated fadeInDown">Остались вопросы? Задайте их нам</h2>

        <div class="form-block wow animated fadeInUp delay-1s">

            <form action="#">
                <div class="input-block">
                    <input type="text" name="name" placeholder="Ваше имя" required>
                    <input type="text" name="phone" placeholder="Ваш email" required>
                    <textarea name="text" placeholder="Ваш вопрос" required></textarea>
                    <button class="btn form-block__btn" type="submit">Записаться</button>
                </div>
            </form>
            <!-- /form -->

        </div>
        <!-- /form-block -->
	</div>
	<!-- /container -->
</section>
<!-- /form -->