<div class="container container--padding-none">

    <header id="top" class="header">
   	
        <div class="header-top wow animated fadeInDown delay-1s">
        	
            <div class="logo-block">
                <a class="logo" href="index.html" aria-label="Логотип компании Рибберг"></a>
            </div>

            <nav class="nav">
            	
                <ul class="nav-list" role="menu">

                    <li role="menuitem"><a class="nav__link" href="#about">О компании</a></li>
                    <li role="menuitem"><a class="nav__link" href="#examples">Примеры работ</a></li>
                    <li role="menuitem"><a class="nav__link" href="#order">Цены</a></li>
                    <li role="menuitem"><a class="nav__link" href="#production">Производство</a></li>
                    <li role="menuitem"><a class="nav__link" href="#news">Новости</a></li>
                    <li role="menuitem"><a class="nav__link" href="#map">Контакты</a></li>

                </ul>
                <!-- /nav-list -->
            </nav>
            <!-- /nav -->

            <button id="menu__button" class="cmn-toggle-switch cmn-toggle-switch__htx">
                <span>toggle menu</span>
            </button>

            <div class="phone"><a href="viber://chat?number=79999999999">+7 (999) 999-99-99</a></div>
        </div>
        <!-- /header-top -->
    </header>
    <!-- /header -->
    <a id="toTop" class="to-top-btn" aria-label="Прокрутка сайта наверх">^ Наверх</a>
</div>
<!-- /container -->

<div class="header-main">
        
    <div class="container">
    	
        <div class="header-main__content-wrap">
        	
            <div class="text-block wow animated fadeInLeft">
            	<h1 class="text-block__title">
            	Натяжные потолки в Санкт-Петербурге от <span class="text--red">79 руб.</span> за м<sup>2</sup>
                </h1>
            	<p class="text-block__subtitle">Экологичные европейские полотна:</p>
            	<ul class="text-block__list">
            		<li class="text-block__item">
                        <span class="text--upper">PONGS</span> (Германия)
                    </li>
            		<li class="text-block__item">
                        <span class="text--upper">ELEGRANTO</span> (Бельгия)
                    </li>
            		<li class="text-block__item">
                        <span class="text--upper">ARRIDEL</span> (Франция)
                    </li>
            		<li class="text-block__item">
                        <span class="text--upper">MSD</span>
                    </li>
            	</ul>
                <!-- /text-block__list -->
                <button class="text-block__btn" href="#">Рассчитать потолок</button>
            </div>
            <!-- /text-block -->

            <div class="form-block wow animated fadeInRight">
                <form action="#">
                    <h3 class="form__title">Запишитесь<br> на <span class="text--red">бесплатный</span> замер</h3>
                    <div class="input-block">
                        <input type="text" name="name" placeholder="Ваше имя" required>
                        <input type="text" name="phone" placeholder="Ваш телефон" required>
                        <textarea name="text" placeholder="Комментарий" required></textarea>
                    </div>
                    <button class="btn form-block__btn" type="submit">Записаться</button>
                </form>
            </div>
            <!-- /form-block -->
        </div>
        <!-- /header-main__content-wrap -->
    </div>	
    <!-- /container -->
</div>
<!-- /header-main -->