<section id="map" class="map">

	<div id="yandex-map" class="yandex-map" aria-label="Москва, Красная площадь">
	
        <div class="adress-card wow animated fadeInLeft delay-1s" data-wow-offset="200">

        	<div class="adress-card-wrap">
    	
                <h3 class="adress-card__title">Контакты</h3>

                <h4 class="adress-card__subtitle">Адрес:</h4>
                <p class="adress-card__text">Москва, Красная площадь, 1</p>

                <h4 class="adress-card__subtitle">Телефон:</h4>
                <p class="adress-card__text">+7 (999) 999-99-99</p>

                <h4 class="adress-card__subtitle">E-mail:</h4>
                <p class="adress-card__text">mail@mail.ru</p>
    
                <h4 class="adress-card__subtitle">График работы:</h4>
                <p class="adress-card__text">Ежедневно с 9.00 до 18.00</p>
            </div>
            <!-- /adress-card-wrap -->
        </div>
        <!-- /adress-card -->
    </div>
    <!-- /yandex-map -->
</section>
<!-- /map -->