<section id="news" class="news">

	<div class="container">
		
        <h2 class="section__title wow animated fadeInDown">новости</h2>

        <div class="news-wrap">
        	
            <ul class="news-list">

            	<li class="news__item wow animated fadeInUp">

                    <div class="img-wrap">
            		
                        <picture>
                    	
                            <source srcset="img/news/news@1x.webp 1x,
						    img/news/news@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/news/news@1x.jpg" width="360" height="260" alt="Натяжные потолки"
				            srcset="img/news/news@2x.jpg 2x">

                        </picture>

                    </div>
                    <!-- /img-wrap -->

                    <div class="news__item-info">
                    	<h4 class="news__item-title">
                    	Стоимость натяжных потолков Санкт-Петербурге. Цены</h4>
                    	<p class="news__item-text">Стоимость натяжных потолков в Санкт-Петербурге. Цена Натяжные потолки становятся всё более востребованным вариантом для домов, квартир, офисов и развлекательных заведений,</p>
                    	<a class="news__item-full-text" href="#">Подробнее</a>
                    </div>

            	</li>
            	<!-- /news-item -->

            	<li class="news__item wow animated fadeInUp delay-1s">

                    <div class="img-wrap">
            		
                        <picture>
                    	
                            <source srcset="img/news/news@1x.webp 1x,
						    img/news/news@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/news/news@1x.jpg" width="360" height="260" alt="Натяжные потолки"
				            srcset="img/news/news@2x.jpg 2x">

                        </picture>


                    </div>
                    <!-- /img-wrap -->

                    <div class="news__item-info">
                    	<h4 class="news__item-title">
                    	Стоимость натяжных потолков Санкт-Петербурге. Цены</h4>
                    	<p class="news__item-text">Стоимость натяжных потолков в Санкт-Петербурге. Цена Натяжные потолки становятся всё более востребованным вариантом для домов, квартир, офисов и развлекательных заведений,</p>
                    	<a class="news__item-full-text" href="#">Подробнее</a>
                    </div>

            	</li>
            	<!-- /news-item -->

            	<li class="news__item wow animated fadeInUp delay-2s">

                    <div class="img-wrap">
            		
                        <picture>
                    	
                            <source srcset="img/news/news@1x.webp 1x,
						    img/news/news@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/news/news@1x.jpg" width="360" height="260" alt="Натяжные потолки"
				            srcset="img/news/news@2x.jpg 2x">

                    </picture>

                    </div>
                    <!-- /img-wrap -->

                    <div class="news__item-info">
                    	<h4 class="news__item-title">
                    	Стоимость натяжных потолков Санкт-Петербурге. Цены</h4>
                    	<p class="news__item-text">Стоимость натяжных потолков в Санкт-Петербурге. Цена Натяжные потолки становятся всё более востребованным вариантом для домов, квартир, офисов и развлекательных заведений,</p>
                    	<a class="news__item-full-text" href="#">Подробнее</a>
                    </div>

            	</li>
            	<!-- /news-item -->

            </ul>
            <!-- /news-list -->

        </div>    
        <!-- /news-wra -->
	</div>
	<!-- /container -->
</section>
<!-- /news -->