<div class="container">
	
    <section class="offer">

    	<h2 class="section__title wow animated fadeInLeft">Мы предлагаем</h2>
    	
        <div class="offer-wrap">
        	
            <ul class="offer-list">

            	<li class="offer__item wow animated fadeInUp" data-wow-offset="200">
            		<h4 class="offer__item__title offer__item__title--first">Установку натяжных потолков</h4>
            		<p class="offer__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            	</li>
            	<li class="offer__item wow animated fadeInUp" data-wow-offset="200">
            		<h4 class="offer__item__title offer__item__title--second">Потолки с фотопечатью</h4>
            		<p class="offer__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            	</li>
            	<li class="offer__item wow animated fadeInUp" data-wow-offset="200">
            		<h4 class="offer__item__title offer__item__title--last offer__item__title--third">Производство,<br> монтаж и обслуживание</h4>
            		<p class="offer__item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            	</li>

            </ul>
            <!-- /offer-list -->
        </div>
        <!-- /offer-wrap -->
    </section>
    <!-- /offer -->
</div>
<!-- /container -->