<section id="order" class="order">
	
    <div class="container">

    	<h2 class="section__title wow animated fadeInDown">У нас вы можете заказать</h2>
    	
        <div class="order-wrap">
     	
            <ul class="order-list">
            	
                <li class="order__item wow animated fadeInLeft">

                    <div class="img-wrap">
            		
                        <picture>
                    	
                            <source srcset="img/order/spotlights@1x.webp 1x,
						    img/order/spotlights@2x.webp 2x" 
					        type="image/webp">
			                
			                <img src="img/order/spotlights@1x.jpg" width="360" height="285" alt="Точечные светильники"
				            srcset="img/order/spotlights@2x.jpg 2x">

                        </picture>

                        <div class="order__item-info">
                            <h4 class="order__item-title">Точечные светильники</h4>
                            <p class="order__item-price">от 300 руб. шт</p>
                        </div>

                    </div>
                    <!-- /img-wrap -->


            	</li>
                <!-- /order__item --> 

                <li class="order__item wow animated fadeInUp">

                    <div class="img-wrap">
                    
                        <picture>
                        
                            <source srcset="img/order/diode-tape@1x.webp 1x,
                            img/order/diode-tape@2x.webp 2x" 
                            type="image/webp">
                            
                            <img src="img/order/diode-tape@1x.jpg" width="360" height="285" alt="Диодная лента"
                            srcset="img/order/diode-tape@2x.jpg 2x">

                        </picture>

                        <div class="order__item-info">
                            <h4 class="order__item-title">Диодную ленту</h4>
                            <p class="order__item-price">от 150 руб. шт</p>
                        </div>

                    </div>
                    <!-- /img-wrap -->

                </li>
                <!-- /order__item --> 

                <li class="order__item wow animated fadeInRight">

                    <div class="img-wrap">
                    
                        <picture>
                        
                            <source srcset="img/order/insert@1x.webp 1x,
                            img/order/insert@2x.webp 2x" 
                            type="image/webp">
                            
                            <img src="img/order/insert@1x.jpg" width="360" height="285" alt="Вставка (плинтус)"
                            srcset="img/order/insert@2x.jpg 2x">

                        </picture>

                        <div class="order__item-info">
                            <h4 class="order__item-title">Вставку (плинтус)</h4>
                            <p class="order__item-price">от 100 руб. шт</p>
                        </div>

                    </div>
                    <!-- /img-wrap -->

                </li>
                <!-- /order__item --> 

            </ul>
            <!-- /order-list --> 
        </div>
        <!-- /order-wrap --> 
    </div>
    <!-- /container -->
</section>
<!-- /order -->