<section id="production" class="production">
	
    <div class="container">
    	
        <div class="production-wrap">

        		<div class="form-block">
                    <h2 class="section__title wow animated fadeInLeft">наше производство</h2>
                    <h3 class="form__title wow animated fadeInLeft delay-0.5s">Запишитесь на бесплатный замер</h3>
                    <form action="#">
                        <div class="input-block">
                            <input class="wow animated fadeInLeft" type="text" name="name" placeholder="Ваше имя" required>
                            <input class="wow animated fadeInLeft delay-1s" type="text" name="phone" placeholder="Ваш телефон" required>
                            <textarea class="wow animated fadeInLeft delay-2s" name="text" placeholder="Комментарий" required></textarea>
                        </div>
                        <button class="btn form-block__btn wow animated fadeInUp delay-2s" type="submit">Записаться</button>
                    </form>
                    <!-- /form -->

                </div>
                <!-- /form-block -->

            <div class="production-slider wow animated fadeInRight">
        
                <div id="slick" class="slick">

                    <div class="slide">
                    
                        <picture>

                            <source srcset="img/production/production-1@1x.webp 1x,
                            img/production/production-1@2x.webp 2x" 
                            type="image/webp">
                            
                            <img src="img/production/production-1@1x.jpg" width="600" height="580" alt="Цех по производству подвесных потолков"
                            srcset="img/production/production-1@2x.jpg 2x">
                        
                        </picture>

                    </div>
                    <!-- /slide -->  

                    <div class="slide">
                
                         <picture>

                            <source srcset="img/production/production-1@1x.webp 1x,
                            img/production/production-1@2x.webp 2x" 
                            type="image/webp">
                            
                            <img src="img/production/production-1@1x.jpg" width="600" height="580" alt="Цех по производству подвесных потолков"
                            srcset="img/production/production-1@2x.jpg 2x">
                        
                        </picture>

                    </div>
                    <!-- /slide -->

                    <div class="slide">
                    
                        <picture>

                            <source srcset="img/production/production-1@1x.webp 1x,
                            img/production/production-1@2x.webp 2x" 
                            type="image/webp">
                            
                            <img src="img/production/production-1@1x.jpg" width="600" height="580" alt="Цех по производству подвесных потолков"
                            srcset="img/production/production-1@2x.jpg 2x">
                        
                        </picture>

                    </div>
                    <!-- /slide -->   

                </div>
                <!-- /slick --> 
            </div>
            <!-- /production-slider --> 
        </div>
        <!-- /production-wrap -->
    </div>
    <!-- /container -->
</section>
<!-- /production -->