<section class="register">
	
    <div class="container">
    	
        <div class="content-wrap">
        	
            <div class="content-wrap__text">
            	<h2 class="section__title wow animated fadeInLeft">Запишитесь<br> на <span class="text--red">бесплатный</span> замер</h2>
            	<p class="section__subtitle wow animated fadeInLeft delay-0.5s">И наш специалист перезвонит Вам в ближайшее время</p>
            </div>
            <div class="form-block">
                <form action="#">
                    <div class="input-block">
                        <input class="wow animated fadeInRight" type="text" name="name" placeholder="Ваше имя" required>
                        <input class="wow animated fadeInRight delay-0.5s" type="text" name="phone" placeholder="Ваш телефон" required>
                        <textarea class="wow animated fadeInRight delay-1s" name="text" placeholder="Комментарий" required></textarea>
                    </div>
                    <button class="btn form-block__btn wow animated fadeInUp delay-2s" type="submit">Записаться</button>
                </form>
                <!-- /form -->
            </div>
            <!-- /form-block -->
        </div>
        <!-- /content-wrap -->
    </div>
    <!-- /container -->
</section>
<!-- /register -->